body{
   
    background-image: url("./assets/climate.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content:center;
   margin-top: 50px;
   margin-left: 2px;
    
}
.col1{
    height: 700px;
    background-size: 100% 100%;
    border: 2px solid white; 
    border-radius: .55rem;
} 
#place{
    width: 230px;
    height: 50px;
    border: 1px black solid;
    border-radius: .5rem;
}
#title{
    margin:1rem ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 20px;
}
.data{
    font-family: 'Times New Roman', Times, serif;
}
input{
    /* border: 2px solid black; */
    /* border-radius:20px; */
    margin-right: 2rem;
    width: 110px;
}
#temp1{
    margin-top: 10rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1rem;

}
#cName{
    margin-top: 4rem;
    font-family: 'Times New Roman', Times, serif;
}
.item{
    font-size: 15px;
    text-shadow: 1rem black;
}